table {
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      padding: 8px 10px;
    }
  }
  tbody {
    td {
      border-top: 1px solid #ddd;
      padding: 8px 10px;
    }
    tr:nth-child(odd) {
      background: #f9f9f9;
      // td:first-child {
      //   background-color: #f1f1f1;
      // }
    }

    tr:nth-child(even) {
      // td:first-child {
      //   background-color: #fafafa;
      // }
    }

    tr:first-child {
      border-top: 1px solid black;
    }

    tr:last-child {
      border-bottom: 1px solid black;
    }
  }
}
